<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add</title>
</head>
<body>
<form action="#" th:action="@{/admin/add}" th:object="${user}" method="POST">

    <label for="username">username</label>
    <input type="text" th:field="*{username}" placeholder="username" id="username">

    <label for="password">password</label>
    <input type="text" th:field="*{password}" placeholder="password" id="password">

    <input type="submit" value="Add new user">

    <h3>Exit</h3>
    <p><a th:href="@{/logout}">Logout</a></p>

</form>
</body>
</html>