<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
</head>
<body>
<form action="#" th:action="@{/admin/edit}" th:object="${user}" method="POST">

    <input type="hidden" name="id" th:field="*{id}">

    <label for="username">username</label>
    <input type="text" th:field="*{username}" placeholder="username" id="username">

    <label for="password">password</label>
    <input type="text" th:field="*{password}" placeholder="password" id="password">

    <input type="submit" value="Edit user">

    <h3>Exit</h3>
    <a th:href="/logout">Logout</a>

</form>
</body>
</html>